@model IEnumerable<employeeRegister.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}

<table class="w-full text-left listaFuncionarios mb-4">
    <tr>
        <th width="60" class="bg-gray-100">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th width="180" class="text-center">
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th width="150" class="text-center">
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th width="190">&nbsp;</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @string.Format("{0:000}", item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td class="text-center">
            @string.Format("{0:dd/MM/yyyy}", item.BirthDate)
        </td>
        <td class="text-center">
            @string.Format("{0:C2}", item.Salary)
        </td>
        <td class="flex space-x-1 text-center">
            @Html.ActionLink("Editar", "Editar", "Funcionarios", new { id = item.Id }, new { @class = "flex bg-green-300 hover:bg-green-400 transition-colors duration-300 ease-in-out py-1 px-5 rounded" })
            @Html.ActionLink("Deletar", "Deletar", "Funcionarios", new { id = item.Id }, new { @class = "flex bg-red-300 hover:bg-red-400 transition-colors duration-300 ease-in-out py-1 px-5 rounded confirmation" })
        </td>
    </tr>
    }

</table>

<p><strong>Total:</strong> @Model.Count() Funcionário(s)</p>
<p><strong>Media Salárial:</strong> @string.Format("{0:C2}", Model.Average(x => x.Salary))</p>

@section scripts {
    <script type="text/javascript">
        var elems = document.querySelectorAll('.confirmation');
        elems.forEach(element => {
            element.addEventListener('click', function (e) {
                var confirmation = confirm('Tem certeza que deseja deletar este funcionário?');
                if (!confirmation) {
                    e.stopPropagation();
                    e.preventDefault();
                }
            });
        });
    </script>
}